*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 3%;
}

.trailerflix-container a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
}
.titulo h2{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    
}

.trailerflix-img{
    width: 38%;
    margin-top: 20px;
    margin-bottom: 30px;
}

nav ul{
    display: flex;
    list-style: none;

}
nav ul a li{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 18px;
    margin-bottom: 30px;
    font-size: 18px;

    

}
nav ul a{
    text-decoration: none;
}

a li:hover{
    color: rgb(255, 53, 53);

}

.img-container a img:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
/* card index */
.galeria{
    display: flex;
    justify-content: center;

}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18%;
    margin: 14px;

}

.img-container img{
    width: 100%;
    margin-bottom: 12px;
    
}

.texto2 .yellow-txt{
    color: yellow;
    margin-right: 5px;
    font-weight: bold;
}

.texto-card p{
    color: white;
    margin-left: 5px;
    font-size: 14px;
}

.texto2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 3px;
}


/* grid detail */

.movie-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-movie-container{
    width: 40%;
    display: flex;
    justify-content: center;
    
}
.img-movie{
    width: 68%;
    
}
.contenedor-grid{
    width: 50%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    gap: 40px;
    padding: 10px;
    margin-right: 30px;

}
.grid-item{
}

.texto-amarillo{
    color: yellow;
    font-weight: bold;
    font-size: 15px;



}
.texto-blanco{
    display: flex;
    color: white;
    font-size: 15px;

}

/* queries */

/* Mobile index */
@media screen and (max-width: 480px){

    .galeria{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    .card-container{
        width: 90%;
        display: flex;
        justify-content: center;
        
    
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container a img:hover{
        transform: scale(1);
        transition:none;

    }
    .search{
        width: 10%;
    }


    .trailerflix-img{
        width: 50%;
        margin-bottom: 10px;
    }
}

/* tablet index */
@media screen and (min-width: 481px) and (max-width: 1199px){
    .card-container{
        width: 110%;
        margin: 5px;
    }

    .texto2 .yellow-txt{
        font-size: 10px;
    }
    
    .texto-card p{
        font-size: 10px;
    }

    .search{
        width: 10%;
    }

    .trailerflix-img{
        width: 50%;
    }

    ul{
        display: flex;
        justify-content: center;
    }
    ul a li{
        font-size: 175%;
    }
}

/* Mobile detail */
@media screen and (max-width: 480px){
    .movie-container{
        flex-direction: column;
    }

    .search{
        width: 10%;
    }

    .trailerflix-img{
        width: 50%;
        margin-bottom: 10px;
    }

    .texto-amarillo{
        font-size: 12px;
    }
    .texto-blanco{
        font-size: 12px;
    }
    .img-movie-container{
        width: 100%;
    }
    .img-movie{
        width: 90%;
    }
    .contenedor-grid{
        width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, auto);
        gap: 15px;
        padding: 10px;
        margin-top: 10px;
        margin-right: 0px;
    }
}

/* Tablet detail */
@media screen and (min-width: 481px) and (max-width: 1199px){
    
    .movie-container{
        flex-direction: column;
    }

    .search{
        width: 10%;
    }

    .trailerflix-img{
        width: 50%;
        margin-bottom: 10px;
    }

    .texto-amarillo{
        font-size: 18px;
    }
    .texto-blanco{
        font-size: 18px;
    }
    .img-movie-container{
        width: 100%;
    }
    .img-movie{
        width: 80%;
    }
    .contenedor-grid{
        width: 100%;
        
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, auto);
        gap: 15px;
        padding: 10px;
        margin: 10px 40px;
    }
}